<% provide(:title,"Home") %>
<div class="jumbotron white"style="background: url(<%= asset_path "Home.jpg" %>); background-size: cover;">
  <div class="container-fluid">
    <h1>ようこそ</h1>
    <p>プログラマーの為のtwitter</p>
    <a class="btn btn-primary btn-lg" href= <%= signup_path %> role="button">アカウント登録</a>
  </div>
</div>
